Source: radium
Section: utils
Priority: optional
Maintainer: ganastor <ganastor@gmail.com>
Build-Depends: debhelper
 ,devscripts
 ,bash-completion
 ,qt5-default
 ,qt5-qmake
 ,qtbase5-dev-tools
 ,qttools5-dev-tools
 ,libboost-dev
 ,libboost-system-dev
 ,libboost-filesystem-dev
 ,libboost-program-options-dev
 ,libboost-thread-dev
 ,libssl-dev
 ,libdb++-dev
 ,libminiupnpc-dev
Standards-Version: 3.9.7
Homepage: http://projectradon.info/
Vcs-Git: git://github.com/https://github.com/tm2013/Radium.git
Vcs-Browser: https://github.com/tm2013

Package: radiumd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer network based digital currency - daemon
 Radium is a proof of stake cryptocurrency, forming the backbone of 
 Radon SmartChain services.
 .
 By default connects to an IRC network to discover other peers.
 .
 This package provides Radiumd, a combined daemon and CLI tool to
 interact with the daemon.

Package: radium-qt
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer network based digital currency - Qt GUI
 Radium is a proof of stake cryptocurrency, forming the backbone of 
 Radon SmartChain services.
 .
 By default connects to an IRC network to discover other peers.
 .
 This package provides Radium-Qt, a GUI for Radium based on Qt.
